*{
    background-color: darkslategray;
    margin: 15px;
}
h4{
    color: white;
    font-family:"Trebuchet MS";
    margin-bottom: 2px;
}
h1{
    color: white;
    font-family:"Trebuchet MS";
}
a{
    color: coral;
    font-family: "Trebuchet MS";
}