*{
    background-color: darkslategray;
}
h4{
    color: white;
    font-family:"Trebuchet MS";
}
h1{
    color: white;
    font-family:"Trebuchet MS";
}
a{
    color: coral;
    font-family: "Trebuchet MS";
}