*{
  font-family: 'Signika', sans-serif;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
  .inline  {
     display: inline;
  }
  #target{
    border-style: solid;
  border-width: 1px;
  padding-left: 5px;
  margin-right: 5px;
  color: #76C209;
  }
  .buttons{
    margin: 20px;
  }
  h3{
    font-size: 3em;
    padding-bottom: 20px;
  }
  h6{
    font-size: 2em;
    padding-bottom: 10px;
  }
  p{
    font-size: 1.75em;
  }
  button{
    background-color: #76C209;
    color: white;
    border: none;
    margin-right: 5px;
    padding-left:  26.667px;
    padding-right: 26.667px;
  }
  button:hover{
    background-color: #4a750d;
    color: white;
    cursor: pointer;
  }
  #next{
    visibility: hidden;
    font-weight: 550;
  }

  #container{
    background-color: #fff;
    margin: 25px;
    padding: 25px 25px 40px 25px;
  }
  body {
  background-color: #F1F1F1;
}
