* {
    background-color: #01143e;

    }
body{
    margin: 80px;
    width: 1024px;
}
/*font controls*/
h2 {
    font-size: 36pt;
    font-style: demi;
    margin-top: 0;
    margin-bottom: 30px;
    }
p {
    font-size: 15pt;
    font-style: book;
    margin: 0;
    }
h3{
    font-size: 24pt;
    font-style: demi;
    margin-bottom: 0;
    
    }
h4{
    font-size: 18pt;
    font-style: light;
    margin: 0;
    }
.body {
    font-family: futura-pt;
    color: white;
    }
.letter{
    font-family: gitan-latin, sans-serif;
    color: white;
    }
#showcase{
    text-align: justify;
    align-content: flex-end;
    }
#body_copy{
    text-align: justify;
    }
#source{
    font-size: 12pt;
}
/*buttons, analysis*/
button:focus {outline:0;}
button{
    border: none;
    margin-top: 313px;
    margin-left: 10px;
}
#button{
    height: 40.501px;
    z-index:30;
    
    border:none;
}
.analysis {
    position: absolute;
    z-index:20;
    top: 80px;
    left: 160px;
}
/*the division of the screen*/
.row{
    display: flex;
    padding-bottom: 40px;

    }
.row2{
    display: flex;
}
.column{
    float: left;
    width: 50%;
    padding-left: 80px;
    }
#right{
    padding-right: 80px;
}
/*letter and name+major columns*/
.column2{
    float:left;
    width: 85%;
}
/*button and image columns*/
.column3{
    align-content: flex-end;
    float: right;
    width: 15%;
    align-items: baseline flex-end;
}

#name{
    margin-top: 10px;
}
#image{
    margin-top: 50px;
}
#sources{
    margin-top: 40px;
}

/*bottom of screen*/
.rectangle{
    border-bottom: 40px solid #c70000;
}
