.wrapper{
        display: grid;
        grid-template-rows: repeat(15,75px);
        grid-template-columns: repeat(30,75px);
        margin: 25px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
.trex{
  grid-column: 4 / span 10;
  grid-row: 6 / span 1;
}
