a{
  grid-column: 1;
  grid-row: 10;
}
.wrapper{
        display: grid;
        grid-template-columns: repeat( 10, 200px );
        grid-template-rows: repeat(13,200px);
        margin: 25px;
    }
#image{
  position: absolute;
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}
#newimage{
  position: absolute;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}
#image2{
  position: absolute;
  grid-column: 6;
  grid-row: 1;
  z-index: 1;
}
#buttons{
  grid-column: 1 / span 5;
  grid-row: 1;

}
#buttons button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
#buttons button:hover{
  background-color: #008CBA;
}
#buttons button:visited{
  background-color: #f44336;
}
#date{
  grid-column: 1 / span 4;
  grid-row: 2;

}
#date button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;

}
#date button:hover{
  background-color: #4CAF50;
}

#myCanvas{
  grid-column: 1 / span 10;
  grid-row: 3/ span 10;

}
