a{
  grid-column: 1;
  grid-row: 10;
}
.wrapper{
        display: grid;
        grid-template-columns: repeat( 12, 162px );
        grid-template-rows: repeat(36,162px);
        margin: 25px;
    }


#buttons{
  grid-column: 1 / span 10;
  grid-row: 1;
    font-family: 'Roboto', sans-serif;

}
.btn{
  background-color: #385F71;
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#date{
  grid-column: 1 / span 5;
  grid-row: 2;

}
/*.date button{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 10px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;

}*/
.day.btn{
  background-color: #4ECDC4;

}
.active, .btn:hover{
  background-color: #561F37;
}
.day.btn.active{
  background-color: #561F37;
}

#myCanvas{
  grid-column: 1 / span 10;
  grid-row: 4/ span 10;

}
#august{grid-column: 1 / span 10;
grid-row: 1/ span 12;}
#september{grid-column: 1 / span 10;
grid-row: 7/ span 12;}
#october{grid-column: 1 / span 10;
grid-row: 13/ span 12;}
#gather{
  grid-column: 5;
}
#image{
float: left;
}
#text{
  grid-row: 3;
  grid-column: 1;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 100px;
}
@media screen and (max-width: 800px) {
  .wrapper{
          display: grid;
          grid-template-columns: repeat( 12, 81px );
          grid-template-rows: repeat(36,81px);
          margin: 5px;
      }
      #myCanvas{
        transform: scale(.9, .9);
        grid-column: 1 / span 10;
        grid-row: 7/ span 10;
        margin-left: -20px;

      }

      #buttons{margin-left: 20px;}
      #date{margin-left: 20px;}
      #text{
        grid-row: 6;
        grid-column: 1;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        margin-top: 40px;
        margin-left: 20px;
      }

}
