*{
    box-sizing:border-box;
    display: grid;
    position: relative;
    margin: 0px;
}

/***
******Mobile
*****
***/
a{
  text-decoration: none;
}
body{
    background-color: black;

}
.wrapper{
        display: grid;
        grid-template-columns: repeat( 10, auto );
        margin: 25px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
.wrapper.index{
    grid-template-rows: repeat(30,75px);
    }
.wrapper.project{
    grid-template-rows: repeat(26,75px);
    }
#menu{
  background-color: black;
  z-index: 3;
}
#top{
  left: 0px;
  top:0px;
}

/*Index Page*/
    .logo{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        height: 50px;
        width: 50px;
        align-content: center;
        border-style: solid;
        border-color: #d18d07;
        border-width: medium;
        position: fixed;
        z-index: 2;
        padding: 0px;
    }
    .logo:hover{
      background-color: #d18d07;
      border-color: #5993ce;
    }
    .logo a{
      text-decoration: none;
    }
    .logo a h6:hover{
      color: #5993ce;
    }
    .logobar{
      grid-column: 1 / span 10;
      grid-row: 1 / span 1;
      width:100%;
      height: 100px;
      background-color: black;
      position: fixed;
      z-index: 2;
      left: 25px;
      top: 0px;
    }

    .panel {
        position: fixed;
        left: -15.625em; /*left or right and the width of your navigation panel*/
        width: 15.625em; /*should match the above value*/
        background-color: black;
    }
    .panel ul{
      margin-top: 50px;
      display:block;}
    .panel li a{
      font-size: 1.5rem;
      color: #d18d07;
      font-family: europa, sans-serif;
      font-weight: 700;
      line-height:normal;
      margin: 0px;
      text-decoration: none;
      line-height: 2;
    }
    .panel li a:hover{
      color: #5993ce;
    }

    .largetext{
        grid-column: 1 / span 6;
        grid-row: 2;
        padding-top: 50px;
        align-items: left;
    }


    .squiggle{
        grid-column: 1 / span 3;
        height: 60px;
        align-content: center;
    }
    .squiggle.item1{
        grid-row: 3;
    }
    .squiggle.item2{
        grid-row: 10;
    }
    .squiggle.item3{
        grid-row: 18;
    }


    .sectionimage{
      display: grid;
      grid-column: 2 / span 6;
      width: 225px;
    }
    .sectionimage img{
        width:100%;
        border-width: medium;
        border-style: solid;
        border-color: #d6ccc4;
    }
    .sectionimage.item1{
        grid-row: 5;
    }
    .sectionimage.item2{
        grid-row: 12;
    }
    .sectionimage.item3{
        grid-row: 20;
    }


    .sectiontitle{
        grid-column: 1 / span 5;
    }
    .sectiontitle.item1{
        display: grid;
        grid-row: 7;
    }
    .sectiontitle.item2{
        display: grid;
        grid-row: 15;
    }
    .sectiontitle.item3{
        display: grid;
        grid-row: 23;
    }


    .sectionbody{
        display: grid;
        grid-column: 1 / span 7;
        grid-row: 14;
        height: 100px;
    }
    .sectionbody.item1{
        display: grid;
        grid-row: 8;
    }
    .sectionbody.item2{
        display: grid;
        grid-row: 16;
    }
    .sectionbody.item3{
        display: grid;
        grid-row: 24;
    }

    .button{
        display: grid;
        margin-top: 50px;
        grid-column: 1 / span 3;
        height: 30px;
        width: 100px;
        border-color: #d18d07;
        border-style: solid;
        border-width: thin;
        align-content: center;
        align-items: center;

    }
    .button:hover{
      border-color:  #5993ce;
      background-color: #d18d07 ;
      color:  #5993ce;
      font-weight: 700;


    }
    .button.item1{
        display: grid;
        grid-row: 9;
    }
    .button.item2{
        display: grid;
        grid-row: 17;
    }
    .button.item3{
        display: grid;
        grid-row: 25;
    }
    .button a p{
      text-decoration: none;

    }
    .button a p:hover{
        color:  #5993ce;
        font-weight: 700; bold
    }

    .topbuttoni{
      grid-row: 27;
      grid-column: 1 / span 5;
    }
    .topbuttoni a p{
        text-align: left;
    }
    .topbuttoni a p:hover{
      color: #5993ce;
    }
    .topbutton1{
      grid-row: 20;
      grid-column: 1 / span 5;
    }
    .topbutton1 a p{
        text-align: left;
    }
    .topbutton1 a p:hover{
      color: #5993ce;
    }
    .topbutton2{
      grid-row: 21;
      grid-column: 1 / span 5;
    }
    .topbutton2 a p{
        text-align: left;
    }
    .topbutton2 a p:hover{
      color: #5993ce;
    }
    .topbutton3{
      grid-row: 25;
      grid-column: 1 / span 5;
    }
    .topbutton3 a p{
        text-align: left;
    }
    .topbutton3 a p:hover{
      color: #5993ce;
    }
    .topbuttona{
      grid-row: 24;
      grid-column: 1 / span 5;
    }
    .topbuttona a p{
        text-align: left;
    }
    .topbuttona a p:hover{
      color: #5993ce;
    }

/*Text*/
    h1{
        font-size: 2rem;
        color: #d18d07;
        text-align: left;
        font-family: europa, sans-serif;
        font-weight: 700;

    }
    h2{
        font-size: 1rem;
        color: #d52f2c;
        text-align: left;
        font-family: europa, sans-serif;
        font-weight: 400;
    }
    h3{
        font-size: 1.5rem;
        color: #d18d07;
        font-family: europa, sans-serif;
        font-weight: 700;
        margin: 0px;
    }
    h4{
        font-size: .75rem;
        color: #d6ccc4;
        font-family: linotype-sabon, sans-serif;
        font-weight: 400;

        line-height: 1.5;
    }
    h5{
      font-size: 1.25rem;
      color: #d18d07;
      font-family: europa, sans-serif;
      font-weight: 700;
      margin-bottom: 0px;
    }
    p{
      font-size: .75rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      line-height: 1.5;
    }
    h6{
      font-size: 2rem;
      color: #d6ccc4;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 700;
      margin: 0px;
      text-decoration: none;
    }
    a p{
      font-size: 1rem;
      color: #d18d07;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
    }

/*Project Pages*/
    .title{
        display: grid;
        grid-column:1 / span 8;
        grid-row: 2 / span 1;
        height: 75px;

    }
    .subhead{
        display: grid;
        grid-column: 1 / span 8;
        grid-row: 3;
        height: 50px;
        margin-top: 10px;
        text-align: left;
    }
    .projectimage{
      display: grid;
      grid-column: 2 / span 8;
      grid-row: 5;
      width: 225px;
    }
    .projectimage img{
      width:100%;
    }
    .projectdescription{
        display: grid;
        grid-column: 1 / span 8;
        grid-row: 8;
        height: 100px;
    }
    .squiggle.project{
        display: grid;
        grid-column: 1 / span 5;
        grid-row: 9;
        padding-top: 25px;
    }
    .otherimage{
        display: grid;
        grid-column: 2/ span 8;
        width: 225px;
        padding-left: 25px;
    }
    .otherimage img{
        width: 100%;
    }
    .otherimage.item1{
            grid-row: 11;
    }
    .otherimage.item2{
            grid-row: 13;
    }
    .otherimage.item3{
            grid-row: 15;
    }
    .otherimage.item4{
            grid-row: 17;
    }
    .otherimage#travel1{
            grid-row: 11;
        }
    .otherimage#travel2{
            grid-row: 13;
        }
    .otherimage#travel3{
            grid-row: 15;
        }
    .otherimage#travel4{
            grid-row: 18;
        }
    .otherimage.item31{
            grid-row: 18;
        }
    .otherimage.item21{
            grid-row: 13;
        }

/*About Page*/
    .wrapper.about{
      display: grid;
      grid-template-columns: repeat( 10, auto );
      margin: 25px;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      grid-template-rows: repeat(50,75px);}
    .largetext.about{
      display: grid;
      grid-column:1/ span 4;
      grid-row: 2 / span 1;
      height: 75px;
      padding-top: 25px;}
    .subhead.about{
      display: grid;
      grid-column: 1 / span 6;
      grid-row: 2;
      height: 50px;
      margin-top: 20px;
      text-align: left;
      padding-top: 50px;
      padding-left: 25px;
    }
    .about h4{
        font-size: 1.25rem;
        padding-top: 0px;
    }
    .squiggle.about{
      display: grid;
      grid-column: 1/ span 4;
      grid-row: 3;
      padding-top: 50px;
    }
    .contact{
      display: grid;
      grid-column: 1 / span 4;
      grid-row: 5;
      padding-left: 25px;
    }
    .education{
      display: grid;
      grid-column: 1 / span 4;
      grid-row: 8;
      padding-left: 25px;
    }
    .languages{
      display: grid;
      grid-column: 1 / span 4;
      grid-row: 14;
      padding-left: 25px;
    }
    .programs{
      display: grid;
      grid-column: 1 / span 4;
      grid-row: 17;
      padding-left: 25px;
    }
    .experience{
      display: grid;
      grid-column: 1/ span 4;
      grid-row: 13 / span 10;
      padding-left: 25px;
    }

    .about li{
      font-size: 1rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }
    li a{
      text-decoration: none;
      color: inherit;
    }
    li a:hover{
      color: #d18d07;
    }
    li a:visited{
        color: #5993ce;
    }
/******MEDIA QUERIES*******/

/***My desktop****/
@media only screen and (min-width: 1450px){
  .wrapper.index{
    grid-template-rows: repeat(50,100px);}
  .wrapper.project{
    grid-template-rows: repeat(50,100px);}
  .logobar{
    height: 150px;
  }
  .logo{
    height: 100px;
    width: 100px;}
  .largetext{
    grid-row: 3;
    height: 300px;}
  .squiggle{
    height: 30px;
    padding-top: 20px;}

  .squiggle.item1{
      grid-row: 5;
    }
  .squiggle.item2{
      grid-row: 19;
  }
  .squiggle.item3{
      grid-row: 34;
  }

  .sectionimage{
      width: 825px;
      padding-right: 25px;
  }
  .sectionimage img{
    border-width: 10px;}
  .sectionimage.item1{
      grid-row: 7;
  }
  .sectionimage.item2{
      grid-row: 22;
  }
  .sectionimage.item3{
      grid-row: 37;
  }


  .sectiontitle.item1{
      grid-row: 14;
  }
  .sectiontitle.item2{
      grid-row: 29;
  }
  .sectiontitle.item3{
      grid-row: 43;
  }

  .sectionbody{
      grid-row: 14;
      height: 350px;
  }
  .sectionbody.item1{
      grid-row: 15;
  }
  .sectionbody.item2{
      grid-row: 30;
  }
  .sectionbody.item3{
      grid-row: 44;
  }

  .button{
      height: 50px;
      width: 300px;
      border-color: #d18d07;
      border-style: solid;
      border-width: medium;

  }
  .button.item1{
      grid-row: 17;
  }
  .button.item2{
      grid-row: 32;
  }
  .button.item3{
      grid-row: 46;
  }

  .topbuttoni{
      grid-row: 48;}

  /*Project Pages*/
    .title{
        grid-row: 3 / span 1;
        height: 150px;
        padding-top: 25px;
    }
    .subhead{
      grid-row: 4;
      height: 100px;
    }
    .projectimage{
        width: 825px;
        grid-row: 6;
        padding-top: 50px;
        padding-left: 100px;
    }
    .projectimage img{
        width: 100%;
    }
    .projectdescription{
        grid-column: 1 / span 9;
        grid-row: 13;
        height: 350px;
    }
    .squiggle.project{
        display: grid;
        grid-row: 21;
        grid-row: 1/ span 6;
    }
    .squiggle img{
        width:75%;
    }
    .otherimage{
        width: 825px;
        padding-right: 25px;
        padding-top: 50px;
    }
    .otherimage img{
        width: 100%;
    }
    .otherimage.item1{
            grid-row: 16;
    }
    .otherimage.item2{
            grid-row: 22;
    }
    .otherimage.item3{
            grid-row: 28;
    }
    .otherimage.item4{
            grid-row: 34;
    }
    .otherimage#travel1{
        grid-row: 16;
    }
    .otherimage#travel2{
        grid-row: 23;
    }

    .otherimage#travel3{
        grid-row: 30;
    }
    .otherimage#travel4{
        grid-row: 41;
    }
    .otherimage.item21{
      grid-row: 20;
    }
    .otherimage.item31{
      grid-row: 33;
    }
    .otherimage.item1#image1{
      grid-row: 16;
    }

    .topbutton1{grid-row: 41;}
    .topbutton2{grid-row: 48;}
    .topbutton3{grid-row: 40;}

    /*About Page*/
    .wrapper.about{
      grid-template-rows: repeat(30,75px);}
    .largetext.about{
      grid-row: 3/ span 1;
      height: 75px;
      padding-top: 25px;
      padding-left: 25px;}
    .subhead.about{
      grid-row: 5;
      height: 50px;
      margin-top: 20px;
      text-align: left;
      padding-left: 25px;
      padding-top: 25px;
    }
    .about h4{
        font-size: 2.5rem;
        padding-top: 0px;
    }
    .squiggle.about{
      grid-row: 7;
      padding-left: 25px;
      padding-top: 25px;
    }
    .contact{
      grid-row: 9;
      padding-left: 25px;
    }
    .education{
      grid-column: 4/ span 4;
      grid-row: 9;
      padding-left: 25px;
    }

    .experience{
      grid-column: 1 / span 6;
      grid-row: 16;
      padding-left: 25px;
    }
    .topbuttona{
      grid-row: 28;
    }

    .about li{
      font-size: 2rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }
    /*Text*/
    h1{
      font-size: 5rem;
      color: #d18d07;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 700;}

    h2{
      font-size: 3rem;
      color: #d52f2c;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 400;
    }
    h3{
      font-size: 4.5rem;
      color: #d18d07;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 700;
    }
    h4{
      font-size: 2.25rem;
      color: #d6ccc4;
      text-align: left;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
    }
    h5{
        font-size: 2.25rem;
        color: #d18d07;
        font-family: europa, sans-serif;
        font-weight: 700;
        padding-bottom: 10px;
      }
    p{
      font-size: 2rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      line-height: 1.5;
    }
    h6{
      font-size: 5rem;
      color: #d6ccc4;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 700;
      margin: 0px;
    }
    a p{
      font-size: 1.75rem;
      color: #d18d07;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
    }
  }


/****
*****Desktop Big
*****
****/
@media only screen and (min-width: 1300px) and (max-width: 1450px){
  .wrapper.index{
    grid-template-rows: repeat(61,100px);
    }
  .wrapper.project{
    grid-template-rows: repeat(64,100px);}
  .logobar{
    height: 150px;
  }
  .logo{
    height: 100px;
    width: 100px;}
  .largetext{
    grid-row: 3;
    height: 300px;}

  .squiggle{
    height: 30px;
    padding-top: 20px;}
  .squiggle img{
      width: 1500px;
  }
  .squiggle.item1{
      grid-row: 5;
    }
  .squiggle.item2{
      grid-row: 24;
    }
  .squiggle.item3{
      grid-row: 42;
  }

  .sectionimage{
      width: 825px;
      padding-right: 25px;
  }
  .sectionimage img{
    border-width: 10px;}
  .sectionimage.item1{
      display: grid;
      grid-row: 9;
  }
  .sectionimage.item2{
      display: grid;
      grid-row: 26;
  }
  .sectionimage.item3{
      display: grid;
      grid-row: 44;
  }

  .sectiontitle{
      height: 300px;
      padding-top: 100px;
  }
  .sectiontitle.item1{
      display: grid;
      grid-row: 15;
  }
  .sectiontitle.item2{
      display: grid;
      grid-row: 33;
  }
  .sectiontitle.item3{
      display: grid;
      grid-row: 50;
  }

  .sectionbody{
      grid-row: 14;
      height: 350px;
  }
  .sectionbody.item1{
      display: grid;
      grid-row: 18;
  }
  .sectionbody.item2{
      display: grid;
      grid-row: 36;
  }
  .sectionbody.item3{
      display: grid;
      grid-row: 53;
  }

  .button{
      height: 50px;
      width: 300px;
      border-color: #d18d07;
      border-style: solid;
      border-width: medium;

  }
  .button.item1{
      display: grid;
      grid-row: 22;
  }
  .button.item2{
      display: grid;
      grid-row: 40;
  }
  .button.item3{
      display: grid;
      grid-row: 57;
  }
  .topbuttoni{grid-row: 59;}

  /*Project Pages*/
    .title{
        grid-row: 3 / span 1;
        height: 150px;
        padding-top: 25px;
    }
    .subhead{
        grid-row: 4;
        height: 100px;
        grid-column: 1 / span 9;
    }
    .projectimage{
        grid-row: 6;
        padding-top: 50px;
        width: 825px;
        padding-right: 25px;
    }
    .projectimage img{
        width: 100%;
    }
    .projectdescription{
        grid-row: 17;
        grid-column: 1 / span9;
        height: 350px;
    }
    .squiggle.project{
        grid-row: 20;
    }
    .squiggle img{
        width:75%;
    }
    .otherimage{
        width: 825px;
        padding-right: 25px;
        padding-top: 50px;
    }
    .otherimage img{
        width: 100%;
    }
    .otherimage.item1{
            grid-row: 23;
    }
    .otherimage.item2{
            grid-row: 32;
    }
    .otherimage.item3{
            grid-row: 41;
    }
    .otherimage.item4{
            grid-row: 50;
    }
    .otherimage#travel1{
        grid-row: 22;
    }
    .otherimage#travel2{
        grid-row: 32;
    }
    .otherimage#travel3{
        grid-row: 42;
    }
    .otherimage#travel4{
        grid-row: 54;
    }
    .otherimage.item21{
      grid-row: 30;
    }
    .otherimage.item31{
      grid-row: 50;
    }
    .topbutton1{grid-row: 60;}
    .topbutton2{grid-row: 62;}
    .topbutton3{grid-row: 57;}

    /*About Page*/
    .wrapper.about{
      grid-template-rows: repeat(31,75px);}
    .largetext.about{
      grid-row: 3/ span 1;
      height: 75px;
      padding-top: 25px;
      padding-left: 25px;}
    .subhead.about{
      grid-row: 5;
      height: 50px;
      margin-top: 20px;
      text-align: left;
      padding-left: 25px;
      padding-top: 25px;
    }
    .about h4{
        font-size: 3rem;
        padding-top: 0px;
    }
    .squiggle.about{
      grid-row: 7;
      padding-left: 25px;
      padding-top: 25px;
    }
    .contact{
      grid-row: 9;
      padding-left: 25px;
    }
    .education{
      grid-row: 9;
      grid-column: 4/ span 4;
      padding-left: 25px;
    }
    .experience{
      grid-column: 1 / span 6;
      grid-row: 16;
      padding-left: 25px;
    }
    .topbuttona{grid-row: 29;}

    .about li{
      font-size: 2rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }
    /*Text*/
    h1{
      font-size: 5rem;
      color: #d18d07;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 700;}
    h2{
      font-size: 3.5rem;
      color: #d52f2c;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 400;
    }
    h3{
      font-size: 4.5rem;
      color: #d18d07;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 700;
    }
    h4{
      font-size: 2.25rem;
      color: #d6ccc4;
      text-align: left;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
    }
    h5{
        font-size: 2.25rem;
        color: #d18d07;
        font-family: europa, sans-serif;
        font-weight: 700;
        padding-bottom: 10px;
      }
    p{
      font-size: 2.5rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      line-height: 1.5;
    }
    h6{
      font-size: 5rem;
      color: #d6ccc4;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 700;
      margin: 0px;
    }
    a p{
      font-size: 1.75rem;
      color: #d18d07;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
    }

  }




/**
**** Desktop middle
****
**/
@media only screen and (min-width: 1150px) and (max-width: 1300px) {

        .wrapper.index{
          grid-template-rows: repeat(61,100px);
        }
        .wrapper.project{
          grid-template-rows: repeat(65,100px);
        }

        .logobar{
          height: 150px;
        }
        .logo{
          height: 100px;
          width: 100px;}

        .largetext{
          grid-row: 3;
          height: 300px;
        }

        .squiggle{
          height: 120px;
          padding-top: 20px;
          }
        .squiggle img{
            width: 1500px;
        }
        .squiggle.item1{
            grid-row: 5;
        }
        .squiggle.item2{
            display: grid;
            grid-row: 23;
        }
        .squiggle.item3{
            display: grid;
            grid-row: 41;
        }

        .sectionimage{
            width: 875px;
            padding-right: 25px;
        }
        .sectionimage img{
          border-width: 10px;

        }
        .sectionimage.item1{
            display: grid;
            grid-row: 9;
        }
        .sectionimage.item2{
            display: grid;
            grid-row: 26;
        }
        .sectionimage.item3{
            display: grid;
            grid-row: 44;
        }

        .sectiontitle{
            height: 300px;
            padding-top: 50px;
        }
        .sectiontitle.item1{
            display: grid;
            grid-row: 15;
        }
        .sectiontitle.item2{
            display: grid;
            grid-row: 33;
        }
        .sectiontitle.item3{
            display: grid;
            grid-row: 50;
        }

        .sectionbody{
            grid-row: 14;
            height: 350px;
        }
        .sectionbody.item1{
            display: grid;
            grid-row: 18;
        }
        .sectionbody.item2{
            display: grid;
            grid-row: 36;
        }
        .sectionbody.item3{
            display: grid;
            grid-row: 53;
        }

        .button{
            height: 50px;
            width: 300px;
            border-color: #d18d07;
            border-style: solid;
            border-width: medium;

        }
        .button.item1{
            display: grid;
            grid-row: 22;
        }
        .button.item2{
            display: grid;
            grid-row: 40;
        }
        .button.item3{
            display: grid;
            grid-row: 57;
        }
        .topbuttoni{
          grid-row:59 ;
        }

    /*Project Pages*/
        .title{
            grid-row: 3 / span 1;
            height: 150px;
            padding-top: 25px;
        }
        .subhead{
            grid-row: 4;
            margin-top: 50px;
            height: 100px;
            grid-column: 1/ span 9;
        }
        .projectimage{
            width: 875px;
            padding-right: 25px;
            grid-row: 6;
        }
        .projectimage img{
            width: 100%;
        }
        .projectdescription{
            grid-row: 15;
            height: 350px;
            grid-column: 1/ span 9;
        }
        .squiggle.project{
            grid-row: 18;
            grid-column: 1/ span 6;
          }
        .squiggle img{
            width:75%;
        }
        .otherimage{
            width: 875px;
            padding-right: 25px;
            padding-top: 50px;
        }
        .otherimage img{
            width: 100%;
        }
        .otherimage.item1{
                grid-row: 21;
        }
        .otherimage.item2{
                grid-row: 29;
        }
        .otherimage.item3{
                grid-row: 37;
        }
        .otherimage.item4{
                grid-row: 45;
        }
        .otherimage#travel1{
            grid-row: 21;
        }
        .otherimage#travel2{
            grid-row: 30;
        }
        .otherimage#travel3{
            grid-row: 39;
        }
        .otherimage#travel4{
            grid-row: 54;
        }
        .otherimage.item21{
          grid-row: 31;
        }
        .otherimage.item31{
          grid-row: 50;
        }
        .topbutton1{grid-row: 54;}
        .topbutton2{grid-row: 63;}
        .topbutton3{grid-row: 59;}

        /*About Page*/


        .wrapper.about{
          grid-template-rows: repeat(25,75px);}
        .largetext.about{
          grid-row: 3;
          height: 75px;
          padding-top: 25px;
          padding-left: 25px;}
        .about h3{
          font-size: 5rem;
        }
        .subhead.about{
          grid-row: 5;
          height: 50px;
          margin-top: 20px;
          text-align: left;
          padding-left: 25px;
          padding-top: 25px;
        }
        .about h4{
            font-size: 3rem;
            padding-top: 0px;
        }
        .squiggle.about{
          grid-row: 6;
          padding-left: 25px;
        }
        .contact{
          grid-row: 9;
          padding-left: 25px;
        }
        .education{
          display: grid;
          grid-column: 4/ span 4;
          grid-row: 9;
          padding-left: 25px;
        }
        .experience{
          grid-column: 1 / span 8;
          grid-row: 14;
          padding-left: 25px;
        }
        .topbuttona{grid-row: 23;}
        .about li{
          font-size: 1.25rem;
          color: #d6ccc4;
          font-family: linotype-sabon, sans-serif;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 10px;
        }
        .about ul{
          margin-bottom: 10px;
        }
        /*Text*/

        h1{
        font-size: 5.5rem;
        color: #d18d07;
        text-align: left;
        font-family: europa, sans-serif;
        font-weight: 700;
    }

        h2{
        font-size: 4rem;
        color: #d52f2c;
        text-align: left;
        font-family: europa, sans-serif;
        font-weight: 400;
    }
        h3{
        font-size: 5rem;
        color: #d18d07;
        text-align: left;
        font-family: europa, sans-serif;
        font-weight: 700;
    }
        h4{
        font-size: 2rem;
        color: #d6ccc4;
        text-align: left;
        font-family: linotype-sabon, sans-serif;
        font-weight: 400;

    }
    h5{
      font-size: 1.5rem;
      color: #d18d07;
      font-family: europa, sans-serif;
      font-weight: 700;
      padding-bottom: 10px;
    }
    p{
      font-size: 2.5rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;

      line-height: 1.5;
    }
    h6{
      font-size: 5.5rem;
      color: #d6ccc4;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 700;
      margin: 0px;
    }
    a p{
      font-size: 1.75rem;
      color: #d18d07;
      text-align: center;
      font-family: europa, sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    }




/**
******
***** Desktop small
**/
@media only screen and (min-width: 1000px) and (max-width: 1150px) {
  .topbuttoni{
    grid-row: 48;
  }
  .wrapper.index{
      grid-template-rows: repeat(50,100px);}
    .logobar{
        height: 150px;
      }
    .logo{
      height: 100px;
      width: 100px;}
    .largetext{
      grid-row: 3;
      height: 300px;}


    .squiggle{
        padding-top: 20px;
    }
    .squiggle img{
        width: 1500px;
    }
    .squiggle.item1{
        grid-row: 5;
    }
    .squiggle.item2{
        display: grid;
        grid-row: 19;
    }
    .squiggle.item3{
        display: grid;
        grid-row: 33;
    }


    .sectionimage{
      width: 800px;
        padding-right: 25px;
    }
    .sectionimage img{
      border-width: 5px;}
    .sectionimage.item1{
        display: grid;
        grid-row: 8;
    }
    .sectionimage.item2{
        grid-row: 22;
    }
    .sectionimage.item3{
        display: grid;
        grid-row: 36;
    }


    .sectiontitle{
        height: 300px;
        padding-top: 50px;
    }
    .sectiontitle.item1{
        display: grid;
        grid-row: 13;
    }
    .sectiontitle.item2{
        display: grid;
        grid-row: 28;
    }
    .sectiontitle.item3{
        display: grid;
        grid-row: 42;
    }


    .sectionbody{
        grid-row: 14;
        height: 350px;
    }
    .sectionbody.item1{
        display: grid;
        grid-row: 15;
    }
    .sectionbody.item2{
        display: grid;
        grid-row: 29;
    }
    .sectionbody.item3{
        display: grid;
        grid-row: 43;
    }


    .button{
        height: 50px;
        width: 300px;
        border-color: #d18d07;
        border-style: solid;
        border-width: medium;

    }
    .button.item1{
        display: grid;
        grid-row: 18;
    }
    .button.item2{
        display: grid;
        grid-row: 32;
    }
    .button.item3{
        display: grid;
        grid-row: 46;
    }

    /*About Page*/
    .wrapper.about{
      grid-template-rows: repeat(28,75px);}
    .largetext.about{
      grid-row: 3;
      height: 75px;
      padding-top: 25px;
      padding-left: 25px;}
    .subhead.about{
      grid-row: 5;
      height: 50px;
      margin-top: 20px;
      text-align: left;
      padding-left: 25px;
      padding-top: 0px;
    }
    .about h4{
        font-size: 3rem;
        padding-top: 0px;
    }
    .squiggle.about{
      grid-row: 7;
      padding-left: 25px;
      padding-top: 25px;
    }
    .contact{
      grid-row: 10;
      padding-left: 25px;
    }
    .education{
      grid-column: 4 / span 4;
      grid-row: 10;
      padding-left: 25px;
    }

    .experience{
      grid-column: 1/ span 6;
      grid-row: 16/ span 10;
      padding-left: 25px;
    }
    .topbuttona{
      grid-row: 27;
    }
    .about li{
      font-size: 1.5rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }
  /********
  Project Pages
  *********/

  .wrapper.project{
      grid-template-rows: repeat(59,100px);}
      .title{
          grid-row: 3 / span 1;
          grid-column: 1 /span 9;
          height: 150px;
          padding-top: 25px;
      }
      .subhead{
          grid-row: 5;
          height: 100px;
          grid-column: 1 / span 9;
      }
      .projectimage{
          grid-row: 6;
          padding-top: 50px;
          width: 800px;
          padding-right: 25px;
      }
      .projectimage img{
          width: 100%;
      }
      .projectdescription{
          grid-column: 1/ span 9;
          grid-row: 15;
          height: 350px;
      }
      .squiggle.project{
          grid-row: 18;
          padding-left: 25px;
          grid-column: 2 / span 6
      }
      .squiggle img{
          width:75%;
      }
      .otherimage{
          width: 800px;
          padding-right: 25px;
          padding-top: 50px;
      }
      .otherimage img{
          width: 100%;
      }
      .otherimage.item1{
              grid-row: 21;
      }
      .otherimage.item2{
              grid-row: 28;
      }
      .otherimage.item3{
              grid-row: 35;
      }
      .otherimage.item4{
              grid-row: 42;
      }
      .otherimage#travel1{
          grid-row: 19;
      }
      .otherimage#travel2{
          grid-row:28;
      }
      .otherimage#travel3{
          grid-row: 36;
      }
      .otherimage#travel4{
          grid-row: 49;
      }
      .otherimage.item21{
        grid-row: 26;
      }
      .otherimage.item31{
        grid-row: 41;
      }
      .topbutton3{
        grid-row: 48;
        grid-column: 1/ span 6;}
      .topbutton2{
        grid-row: 57;
      }
      .topbutton1{
        grid-row: 50;
      }

      /*******
    Text
    ******/
    h1{
        font-size: 5rem;
        color: #d18d07;
        text-align: left;
        font-family: europa, sans-serif;
        font-weight: 700;}

      h2{
      font-size: 3rem;
      color: #d52f2c;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 400;}

    h3{
      font-size: 4.25rem;
      color: #d18d07;
      text-align: left;
      font-family: europa, sans-serif;
      font-weight: 700;}

    h4{
      font-size: 1.5rem;
      color: #d6ccc4;
      text-align: left;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
         }
      p{
        font-size: 2.25rem;
        color: #d6ccc4;
        font-family: linotype-sabon, sans-serif;
        font-weight: 400;

        line-height: 1.5;
      }
      h5{
        font-size: 2.25rem;
        margin-bottom: 10px;
      }
      h6{
        font-size: 5.5rem;
        color: #d6ccc4;
        text-align: center;
        font-family: europa, sans-serif;
        font-weight: 700;
        margin: 0px;
      }
      a p{
        font-size: 1.75rem;
        color: #d18d07;
        text-align: center;
        font-family: europa, sans-serif;
        font-weight: 400;
        font-style: normal;
      }

  }

/***
**** Tablet Big
****
***/

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .wrapper.index{
      grid-template-rows: repeat(50,100px);}
    .logo{
        width: 100px;
        height: 100px;
    }
    .logobar{
      height: 150px;

    }
    .largetext{
      grid-row: 3;
      height: 300px;}


    .squiggle{

      height: 80px;
    }
    .squiggle img{
        width: 1500px;
    }
    .squiggle.item1{
        padding-top: 50px;
        grid-row: 4;
    }
    .squiggle.item2{
        grid-row: 18;
    }
    .squiggle.item3{
        display: grid;
        grid-row: 33;
    }


    .sectionimage{
      width: 750px;
      height: 450px;
      padding-right: 25px;
    }
    .sectionimage img{
      border-width: 5px;}
    .sectionimage.item1{
        display: grid;
        grid-row: 7;
    }
    .sectionimage.item2{
        grid-row: 21;
    }
    .sectionimage.item3{
        display: grid;
        grid-row: 35;
    }


    .sectiontitle{
        height: 300px;
        padding-top: 80px;
    }
    .sectiontitle.item1{
        grid-row: 11;
    }
    .sectiontitle.item2{
        display: grid;
        grid-row: 27;
    }
    .sectiontitle.item3{
        display: grid;
        grid-row: 41;
    }


    .sectionbody{
        grid-row: 14;
        height: 350px;
    }
    .sectionbody.item1{
      grid-row: 14;
    }
    .sectionbody.item2{
        display: grid;
        grid-row: 29;
    }
    .sectionbody.item3{
        display: grid;
        grid-row: 43;
    }


    .button{
        height: 50px;
        width: 300px;
        border-color: #d18d07;
        border-style: solid;
        border-width: medium;

    }
    .button.item1{
        grid-row: 17;
    }
    .button.item2{
        grid-row: 32;
    }
    .button.item3{
        grid-row: 46;
    }

    .topbuttoni{
      grid-row: 49;
    }
  /********
  Project Pages
  *********/
    .wrapper.project{
      grid-template-rows: repeat(50,100px);}
    .title{
        grid-row: 3 / span 1;
        height: 150px;
        padding-top: 25px;
    }
    .subhead{
        grid-row: 4;
        grid-column: 1 / span 9;
        height: 100px;
        padding-top: 0px;
    }
    .projectimage{
        grid-row: 6;
        padding-top: 50px;
        width: 750px;
        padding-right: 25px;
    }
    .projectimage img{
        width: 100%;
    }
    .projectdescription{
        grid-row: 13;
        grid-column: 1 / span 9;
        height: 350px;
    }
    .squiggle.project{
        grid-column: 2 / span 6;
        grid-row: 16;
    }
    .squiggle img{
        width:75%;
    }
    .otherimage{
        width: 750px;
        padding-right: 25px;
        padding-top: 50px;
    }
    .otherimage img{
        width: 100%;
    }
    .otherimage.item1{
            grid-row: 19;
    }
    .otherimage.item2{
            grid-row: 25;
    }
    .otherimage.item3{
            grid-row: 31;
    }
    .otherimage.item4{
            grid-row: 37;
    }
    .otherimage#travel1{
        grid-row: 18;
    }
    .otherimage#travel2{
        grid-row: 25;
    }
    .otherimage#travel3{
        grid-row: 32;
    }
    .otherimage#travel4{
        grid-row: 44;
    }
    .otherimage.item21{
      grid-row: 25;
    }
    .otherimage.item31{
      grid-row: 40;
    }
    .topbutton1{
      grid-row: 43;
      grid-column: 1 / span 6;
    }
    .topbutton2{
      grid-row: 54;
    }
    .topbutton3{
      grid-row: 47;
      grid-column: 1 / span 6;
    }


    /*About Page*/
    .wrapper.about{
      grid-template-rows: repeat(22,75px);}
    .largetext.about{
      grid-row: 3/ span 1;
      height: 75px;
      padding-top: 25px;
      padding-left: 25px;}
    .subhead.about{
      grid-row: 4;
      height: 50px;
      margin-top: 20px;
      text-align: left;
      padding-left: 25px;
      padding-top: 25px;
    }
    .about h4{
        font-size: 2rem;
        padding-top: 0px;
    }
    .squiggle.about{
      grid-row: 6;
      padding-left: 25px;
      padding-top: 25px;
    }
    .contact{
      grid-column: 1 / span 4;
      grid-row: 9;
      padding-left: 25px;
    }
    .education{
      grid-column: 3/ span 4;
      grid-row: 9;
      padding-left: 125px;
    }
    .experience{
      display: grid;
      grid-column: 1 / span 8;
      grid-row: 13;
      padding-left: 25px;
    }
    .topbuttona{
      grid-row: 20;
    }
    .about li{
      font-size: 1rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }

    /*******
  Text
  ******/
  h1{
    font-size: 4rem;
    color: #d18d07;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 700;
  }

  h2{
    font-size: 2rem;
    color: #d52f2c;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 400;
  }

  h3{
    font-size: 3rem;
    color: #d18d07;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 700;
  }

  h4{
    font-size: 1.5rem;
    color: #d6ccc4;
    text-align: left;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;

  }
  p{
    font-size: 2rem;
    color: #d6ccc4;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;

    line-height: 1.5;
  }
  h6{
    font-size: 4rem;
    color: #d6ccc4;
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 700;
    margin: 0px;
  }
  a p{
    font-size: 1.75rem;
    color: #d18d07;
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}


/***
**** Tablet Middle
****
***/

@media only screen and (min-width: 676px) and (max-width: 800px) {



  .topbuttoni{
    grid-row: 35;
  }
  .wrapper.index{
      grid-template-rows: repeat(36,100px);}
    .logo{
        width: 100px;
        height: 100px;
    }
    .logobar{

      height: 150px;

    }


    .squiggle{
      height: 80px;
    }
    .squiggle.item1{
        padding-top: 50px;

    }
    .squiggle.item2{
        grid-row: 14;
    }
    .squiggle.item3{
        grid-row: 24;
    }


    .sectionimage{
        padding-right: 25px;
          width: 575px;
    }
    .sectionimage img{
      border-width: 5px;
    }
    .sectionimage.item1{
        grid-row: 5;
    }
    .sectionimage.item2{
        grid-row: 16;
    }
    .sectionimage.item3{
        grid-row: 26;
    }


    .sectiontitle{
        height: 300px;
        padding-top: 50px;
    }
    .sectiontitle.item1{
        grid-row: 8;
    }
    .sectiontitle.item2{
        grid-row: 20;
    }
    .sectiontitle.item3{
        grid-row: 30;
    }


    .sectionbody{
        grid-row: 14;
        height: 350px;
    }
    .sectionbody.item1{
        grid-row: 10;
    }
    .sectionbody.item2{
        grid-row: 21;
    }
    .sectionbody.item3{
        grid-row: 31;
    }


    .button{
        height: 50px;
        width: 300px;
        border-color: #d18d07;
        border-style: solid;
        border-width: medium;

    }
    .button.item1{
        grid-row: 13;
    }
    .button.item2{
        grid-row: 23;
    }
    .button.item3{
        grid-row: 33;
    }

  /********
  Project Pages
  *********/

  .wrapper.project{
      grid-template-rows: repeat(41,100px);}
    .logo img{
        width: 100px;
    }
    .title{
      grid-row: 3;
        height: 150px;
        padding-top: 25px;
    }
    .subhead{
      grid-row: 4;
        padding-top: 75px;
    }
    .projectimage{
        width: 575px;
        grid-row: 6;
        padding-top: 50px;
        height: 450px;
        padding-right: 25px;
    }
    .projectimage img{
        width: 100%;
    }
    .projectdescription{
        grid-row: 11;
        height: 350px;
    }
    .squiggle.project{
      grid-row: 13;
        padding-top: 150px;
    }
    .squiggle img{
        width:75%;
    }
    .otherimage{
        width: 575px;
        padding-right: 25px;
        padding-top: 50px;
    }
    .otherimage img{
        width: 100%;
    }
    .otherimage.item1{
            grid-row: 16;
    }
    .otherimage.item2{
            grid-row: 20;
    }
    .otherimage.item3{
            grid-row: 24;
    }
    .otherimage.item4{
            grid-row: 28;
    }
    .otherimage#travel1{
        grid-row: 16;
    }
    .otherimage#travel2{
        grid-row: 21;
    }
    .otherimage#travel3{
        grid-row: 26;
    }
    .otherimage#travel4{
        grid-row: 34;
    }
    .otherimage.item21{
      grid-row: 21;
    }
    .otherimage.item31{
      grid-row: 32;
    }
    .topbutton1{
      grid-row: 33;
    }
    .topbutton2{
      grid-row: 40;
    }
    .topbutton3{
      grid-row: 38;
    }



    /*******

    /*About Page*/
    .wrapper.about{
      grid-template-rows: repeat(22,75px);}
    .largetext.about{
      height: 75px;
      grid-row: 3;
      padding-top: 25px;
      padding-left: 25px;}
    .subhead.about{
      height: 50px;
      grid-row: 5;
      margin-top: 20px;
      text-align: left;
      padding-left: 25px;
      padding-top: 50px;
    }
    .about h4{
        font-size: 2rem;
        padding-top: 0px;
    }
    .squiggle.about{
      grid-row: 6;
      padding-left: 25px;
      padding-top: 25px;
    }
    .contact{
      display: grid;
      grid-column: 1 / span 4;
      grid-row: 9;
      padding-left: 25px;
    }
    .education{
      display: grid;
      grid-column: 4/ span 4;
      grid-row: 9;
    }

    .experience{
      grid-column: 1 / span 8;
      grid-row: 13;
      padding-left: 25px;
    }

    .about li{
      font-size: 1rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }
    .topbuttona{
      grid-row: 21;
    }

  /*Text
  ******/
  h1{
    font-size: 4rem;
    color: #d18d07;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 700;
  }

  h2{
    font-size: 2rem;
    color: #d52f2c;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 400;
  }

  h3{
    font-size: 3.5rem;
    color: #d18d07;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 700;
  }

  h4{
    font-size: 1.5rem;
    color: #d6ccc4;
    text-align: left;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;

  }
  p{
    font-size: 1.75rem;
    color: #d6ccc4;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;

    line-height: 1.5;
  }
  h6{
    font-size: 4rem;
    color: #d6ccc4;
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 700;
    margin: 0px;
  }
  a p{
    font-size: 1.5rem;
    color: #d18d07;
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}




/***
**** Tablet Small
****
***/

@media only screen and (min-width: 450px) and (max-width: 676px) {
    .wrapper.index{
      grid-template-rows: repeat(34,100px);}

    .logo{
        width: 70px;
        height: 70px;
    }
    .logobar{

      height: 125px;

    }
    .largetext{
      display: grid;
      grid-column: 2 / span 7;
      grid-row: 2;
      height: 300px;}


    .squiggle{
      grid-column: 2 / span 7;
      height: 80px;
    }
    .squiggle.item1{
        display: grid;
        padding-top: 50px;
        grid-row: 3;
    }
    .squiggle.item2{
        grid-row: 13;
    }
    .squiggle.item3{
        grid-row: 23;
    }


    .sectionimage{
        padding-right: 25px;
    }
    .sectionimage img{
      border-width: 5px;
      width: 375px;}
    .sectionimage.item2{
        grid-row: 15;
    }
    .sectionimage.item3{
        grid-row: 25;
    }


    .sectiontitle{
        height: 300px;
        padding-top: 100px;
    }
    .sectiontitle.item2{
        grid-row: 18;
    }
    .sectiontitle.item3{
        grid-row: 27;
    }


    .sectionbody{
        grid-row: 14;
        height: 350px;
    }
    .sectionbody.item1{
        grid-row: 10;
    }
    .sectionbody.item2{
        grid-row: 20;
    }
    .sectionbody.item3{
        grid-row: 29;
    }


    .button{
        height: 50px;
        width: 300px;
        border-color: #d18d07;
        border-style: solid;
        border-width: medium;

    }
    .button.item1{
        grid-row: 12;
    }
    .button.item2{
        grid-row: 22;
    }
    .button.item3{
        grid-row: 31;
    }
    .topbuttoni{grid-row: 33;}
  /********
  Project Pages
  *********/
  .topbutton1{
    grid-row: 32;
  }
  .topbutton2{
    grid-row: 35;
  }
  .topbutton3{
    grid-row: 32;
  }
  .wrapper.project{
      grid-template-rows: repeat(30,100px);}
    .logo img{
        width: 70px;
    }
    .title{
        grid-row: 3 / span 1;
        height: 150px;
        padding-top: 25px;
    }
    .title#travel{
      grid-row: 2/ span 1 ;
    }
    .subhead#travelsub{
      grid-row: 3;
    }

    .subhead{
        grid-row: 4;
        padding-top: 50px;
    }
    .projectimage{
        padding-top: 50px;
        padding-right: 25px;
    }
    .projectimage img{
        width: 100%;
        width: 375px;
    }
    .projectdescription{
        grid-row: 9;
    }
    .squiggle.project{
        grid-row: 10;
        padding-top: 160px;
    }
    .squiggle img{
        width:75%;
    }
    .otherimage{
        display: grid;
        grid-column: 1 / span 10;
    }
    .otherimage img{
        width: 100%;
          width: 375px;
    }
    .otherimage.item1{
            grid-row: 13;
    }
    .otherimage.item2{
            grid-row: 16;
    }
    .otherimage.item3{
            grid-row: 19;
    }
    .otherimage.item4{
            grid-row: 22;
    }
    .otherimage#travel1{
        grid-row: 13;
    }
    .otherimage#travel2{
        grid-row: 16;
    }
    .otherimage#travel3{
        grid-row: 19;
    }
    .otherimage#travel4{
        grid-row: 25;
    }
    .otherimage.item21{
      grid-row: 16;
    }
    .otherimage.item31{
      grid-row: 23;
    }
    .topbutton1{grid-row: 25;}
    .topbutton2{grid-row: 29;}
    .topbutton3{grid-row: 27;}

    /*******

    /*About Page*/
    .wrapper.about{
      grid-template-rows: repeat(25,75px);}
    .largetext.about{
      height: 75px;
      padding-top: 25px;
      padding-left: 25px;}
    .subhead.about{
      grid-row: 3;
      height: 50px;
      margin-top: 20px;
      text-align: left;
      padding-left: 25px;
      padding-top: 0px;
    }
    .about h4{
        font-size: 2rem;
        padding-top: 0px;
    }
    .squiggle.about{
      grid-row: 4;
      padding-left: 25px;
      padding-top: 25px;
    }
    .contact{
      grid-row: 6;
      padding-left: 25px;
    }
    .education{
      grid-row: 9;
      padding-left: 25px;
    }
    .experience{
      padding-left: 25px;
    }


    .about li{
      font-size: 1rem;
      color: #d6ccc4;
      font-family: linotype-sabon, sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 10px;
    }
    .about ul{
      margin-bottom: 10px;
    }


  /*Text
  ******/
  h1{
    font-size: 3rem;
    color: #d18d07;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 700;
  }

  h2{
    font-size: 1.75rem;
    color: #d52f2c;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 400;
  }

  h3{
    font-size: 2.5rem;
    color: #d18d07;
    text-align: left;
    font-family: europa, sans-serif;
    font-weight: 700;
  }

  h4{
    font-size: 1.5rem;
    color: #d6ccc4;
    text-align: left;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;

  }

  p{
    font-size: 1.25rem;
    color: #d6ccc4;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;

    line-height: 1.5;
  }
  h6{
    font-size: 3rem;
    color: #d6ccc4;
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 700;
    margin: 0px;
  }
  a p{
    font-size: 1.5rem;
    color: #d18d07;
    text-align: center;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}





/*
colors
#d6ccc4 #5993ce: 8edce6
#d52f2c: e53945
#d18d07: e9d757

Europa
    font-weight: 700; bold
    font-weight: 400; regular
    font-weight: 300; light
Sabon LT Pro Bold
font-family: linotype-sabon, sans-serif;
font-weight: 700;
font-style: normal;


Sabon LT Pro Bold Italic
font-family: linotype-sabon, sans-serif;
font-weight: 700;



Sabon LT Pro Italic
font-family: linotype-sabon, sans-serif;
font-weight: 400;



Sabon LT Pro Roman
font-family: linotype-sabon, sans-serif;
font-weight: 400;
font-style: normal;
*/
