  // Import fonts from Google //
@import 'https://fonts.googleapis.com/css?family=Roboto|Suez+One';

* {
    margin: 0px;
    padding: 0px;
    /*  includes padding and border in the width and height of an object  */
    box-sizing: border-box;
}

body {
    background-color: #0c2340;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #0c2340;
}

.page {
    width:960px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

h2 {
    margin: 2.5rem 0rem 1.25rem 0rem;
}

/*****************/
/**** Header *****/
/*****************/

header {
    position: relative;
}

.site-header {
    width: 1425px;
    border-top: 4px solid #ae9142;
    border-bottom: 5px solid #0c2340;
}
.site-title img {
    width: 428px;
    margin: 0;
    display: block;
}

.site-title {
    width:864px;
    margin: 32px auto;
}

/*****************/
/**** Main *****/
/*****************/

main {
    /*  960*.8  */
    width:768px;
    background-color: white;
    margin:0 auto;
    padding:48px;
}

.spacing {
    padding:0;
}

/* Welcome Section */

figure {
    margin: 0;
}

figure img {
    width: 100%;
    margin-bottom: 8px;
}

figcaption {
    font-size: 12px;
    font-style: italic;
}

/* Quote Section */

blockquote {
    font-family: 'Suez One', serif;
    /*  768*.7  */
    width: 537.6px;
    font-size: 20px;
    line-height: 24px;
    border-top: 3.2px solid #ae9142;
    padding: 30px;
    margin: 40px auto 0 auto;
    background-color: #fff;
    color: #ae9142;
}

cite {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #ae9142;
    margin-top: 24px;
    display: block;
}

/* Schedule Section */

.info {
    color: #ae9142;
    display: flex;
    justify-content: space-between;
}

.info h4 {
    font-size: 16px;
    margin: 0;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 384px;
}

.info h5 {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    /*  768*37%  */
    width: 284.16px;
}

.activity {
    margin-bottom: 40px;
}

hr {
    border-top: 3.2px solid #ae9142;
    width: 32px;
    margin-left: 0;
    margin-bottom: 16px;
}

/* Video Section */

.video {
    background-color: #000;
}

.video iframe {
    height: 461.8px;
    width:768px;
    margin:0;
}

/*****************/
/**** Footer *****/
/*****************/

footer {
    border-bottom: 4px solid #ae9142;
    width: 1425px;
}
footer-info{
    margin-left: 50px;
}

footer .footer-info {
    color: #fff;
    text-align: left;
    width: 864px;
    padding: 51.2px 25.6px 25.6px 25.6px;
    margin: 0 auto;
}

footer h2 {
    margin: 0;
}

.flexboxy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer dt {
    color: #ae9142;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

footer dd {
    margin: 0 0 20px 0;
}
.footer-info {
        width: 54rem;
        margin: 0 auto;
        padding: 5% 2.5% 2.5% 2.5%;
        text-align: left;
        color: #fff;
    }



/*Mobile*/
@media only screen and (max-width: 400px) {
    .site-header {
    width: 100%;
    border-top: 4px solid #ae9142;
    border-bottom: 5px solid #0c2340;
}
    body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: #0c2340;
}
    .page {
    color: white;
    width:150%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px;
}
    main {
    /*  960*.8  */
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.25rem;
    border-top: .2rem solid #AE9142;
    padding: 2rem;
    background-color: white;
    color: #AE9142;
    margin: 0;
}

.spacing {
    width: 100%;
    padding:5% 5% 0 5%;
}
    footer .footer-info {
    width:80%;
    margin:0 auto;
    padding: 5%;
    text-align:center;
    color: #fff;
        }
    .video iframe {
    width:100%;
    margin:0;
}
    blockquote {
    font-family: 'Suez One', serif;
    /*  768*.7  */
    width: 70%;
    font-size: 1.25rem;
    line-height: 1.25rem;
    border-top: .2rem solid #AE9142;
    padding: 1.875rem;
    margin: 2.5rem auto 0 auto;
    background-color: lightgoldenrodyellow;
    color: #AE9142;
}
    figure img {
    width: 100%;
    margin-bottom:.5rem;
}
    .info {
    color: #ae9142;
    display: flex;
    justify-content: space-between;
}

.info h4 {
    font-size: 16px;
    margin: 0;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.info h5 {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
}
   header {
    position: relative;
    background-color: #0c2340;
}

.site-header {
    width: 200%;
    border-top: 4px solid #ae9142;
    border-bottom: 5px solid #0c2340;
    background-color: #0c2340;
}
    .site-title img {
    width: 100%;
    margin: 0;
    display: block;
}

.site-title {
    width:100%;
    margin: 2rem auto;
    align-content: center;
    align-items: center;
}
    .info {
    color: #ae9142;
    display: flex;
    justify-content: space-between;
}

.info h4 {
    font-size: 16px;
    margin: 0;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 384px;
}

.info h5 {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    /*  768*37%  */
    width: 284.16px;
}
    p{color:#0c2340}
.activity {
    margin-bottom: 40px;
}

hr {
    border-top: 3.2px solid #ae9142;
    width: 32px;
    margin-left: 0;
    margin-bottom: 16px;
}
    .schedule spacing{
        width: 90%;
    }
    footer{
        background-color: #0c2340;
        padding: 50px;
    }
    footer .footer-info {
    color: #fff;
    text-align: left;
    width: 864px;
    padding: 51.2px 25.6px 25.6px 25.6px;
    margin: 0;
    }
    .flexboxy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
}