*{
    position: relative;
    margin:0;
    padding:0;
    background-color: #631B47;

  }

body{
  width: 100vw;
    height: 100vh;
}
section {
  width: 100vw;
    height: 100vh;
    display:inline-block;
    opacity: 50%;
    z-index: 0;
}

h1{
  font-family: adobe-caslon-pro, serif;
    /* top: 20%; */
    left: 15%;
    font-style: italic;
    color: #ba8e7f;

}

  p{
    font-family: adobe-caslon-pro, serif;
    /* top: 25%; */
    left: 15%;
    width: 50vw;
    color: #ffffff;
  }

     a{
      width: 10vw;
      height: 10vh;
    left: 85vw;
    top: 70vh;
    position: fixed;
    display: block;
    }
    a:hover{
      cursor: pointer;
    }

    img{
      width: inherit;
      display: block;
    }
  #arrow{
    z-index: 4;
    position: fixed;
  }
  #arrow:hover{
  z-index: 2;
  }
#arrowhover{
  z-index: 3;
  position: fixed;
}
img{
  padding: 1vw 1vh 1vw 1vh;
}
